{#
/**
 * @file booking_system_reservation.html.twig
 * Default theme implementation to present Booking system reservation data.
 *
 * This template is used when viewing Booking system reservation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_booking_system_reservation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('booking_system_reservation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
