{#
/**
 * @file booking_system_date.html.twig
 * Default theme implementation to present Booking system date data.
 *
 * This template is used when viewing Booking system date pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_booking_system_date()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('booking_system_date') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
